<!-- 
  File Name : app.component.html
  Name : Chomphunut  
  Date : 24/02/20 
  Date :25/02/20 Varthinee
 -->
<ion-app>
    <ion-split-pane contentId="main-content">
        <!-- ion-menu  -->
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Picky | Team2</ion-list-header>
                    <ion-note class="ion-margin-top">60160336</ion-note>
                    <!-- 60160345 -->
                    <!-- Namchok is coming -->
                    <!-- Chatchalerm edit here -->
                    <!-- Namchok update AND Komsan-->
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                            <!-- tab menu -->
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <!-- End ion-menu  -->
        
        <ion-router-outlet id="main-content">
        </ion-router-outlet>